input {
    height: 30px;
    width: 90px;
  }

 

  .styling {
    background-color: rgb(12, 123, 219);
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    
  }

  .left1{
    text-align: center;
    background-color: grey;
    border-radius: 50%;
    font-size: 25px;
   
    display: grid;
    place-items: center;

}
  

  /* @media (max-width:1590px){
    .styling{
      display: inline;
      width: 1000vmax;
    }

  } */

 